<p>{{view.message}}</p>
<div class="col">
    <a class='btn' href='#demoModal' modal>Show Modal</a>
</div>
<!-- Modal Structure -->
<div id="demoModal" class="modal">
    <div class="modal-content">
        <div input-field>
            <input type="text" ng-model="dummyInputs.inputFieldInput" length="150">
            <label>Prank Title</label>
        </div>
        <div input-field>
            <textarea ng-model="dummyInputs.textAreaInput" class="materialize-textarea"></textarea>
            <label>Prank Description</label>
        </div>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
    <div class="modal-footer">
